<div class="row">
    <h1 class="text-center">Proyectos</h1>
    <br>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>"Proyecto"</h3>
                <p>Aqui iria la descripcion de mi proyecto,
                 si tan solo hubiera terminado alguno.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos natus eos qui voluptas. Porro laboriosam, dolorum non soluta ipsam sint provident assumenda, sit nesciunt voluptatibus omnis amet vitae dolore aut!</p>    
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 offset md-1 offset lg-1 parte2 ">
                <img src="../../../assets/Noproyecto.jpg" class="img-fliud img-proyecto">
            </div>
        </div>

</div>
