<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <ul>
            <li><h1>Trabajo 1</h1> - 
             <h3>(years)</h3>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum consequuntur fuga? Odio fuga ab eos reiciendis! Quia ab cumque eos molestiae fuga omnis tempore excepturi, laboriosam voluptatibus quam deserunt!</p>
            </li>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
             <h3>(years)</h3>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum consequuntur fuga? Odio fuga ab eos reiciendis! Quia ab cumque eos molestiae fuga omnis tempore excepturi, laboriosam voluptatibus quam deserunt!</p>
            </li>
        </ul>
    </div>

</div>