<div class="row">
    <h1 class="text-center"><strong> Hard & Sorf Skill </strong></h1>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'HTML'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'CSS'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'JS'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'git'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'Angular'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/icons8-angularjs-96.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'mysql'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/icons8-logo-de-mysql-96.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'ingles'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col sm-4 md-4 lg-4">
            <circle-progress
        [title]="'comunicacion'"
        [titleColor]="'black'"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#6A645F'"
        [innerStrokeColor]="'#F07C16'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
        </div>
</div>
