<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/github.png" id="github"></a>
                <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
                <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
    </div>
</div>
