<div class="row"> 
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="../../../assets/20210922_224359.jpg" class="img-fluid" id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gamarra  David</p>
        <p>Full Stack Developer Jr.</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Nostrum aliquid assumenda 
                 et quisquam aliquam ea eveniet sapiente ratione! 
                 Praesentium, quo dignissimos aut deserunt sit neque 
                 magnam consequuntur animi ratione cumque!</p>
        </span>
     </div>

</div>