.row{
    background-color: #ACFC94;
    border-radius: 50px;
}
footer{
    color: #090c09;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #ACFC94;
}